{% extends "layout.html" %}

{% block title %}
    Main Page
{% endblock %}

{% block main %}
    <div class="container col-xxl-8 py-5">
        <div class="row align-items-center" id="div-body">
            <div class="col-lg-6">
                <img class="img-fluid" id="image" src="https://cdn.pixabay.com/photo/2022/08/01/06/08/irbene-7357426_1280.jpg">
            </div>
            <div class="col-lg-6">
                <h1>test</h1>
                <h1 id="black-text txt ">Lorem Ipsum</h1>
                <p id="black-text txt">There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
                <button id="btn">Change Picture</button>
            </div>
        </div>
    </div>
{% endblock %} 
