<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1, width=device-width">

        <!-- get bootstrap -->
        <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" rel="stylesheet">
        <script crossorigin="anonymous" src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"></script>

        <!-- link style.css to layout.html-->
        <link href="../static/style.css" rel="stylesheet">
        
        <title> {% block title %}{% endblock %} </title>
    </head>
    
    <body class="bg-dark" id="white-color">
        <header class="border-bottom">
            <nav class="navbar navbar-dark bg-dark justify-content-center">
                <div class="container">
                    <a class="navbar-brand" href="index.html">Home</a>

                    <ul class="nav mx-auto">
                        <li class="nav-item">
                        <a class="nav-link" href="coins.html" id="white-color">Coins</a>
                        </li>
                        <li class="nav-item">
                        <a class="nav-link" href="#" id="white-color" >#</a>
                        </li>
                        <li class="nav-item">
                        <a class="nav-link" href="#" id="white-color">#</a>
                        </li>
                    </ul>

                    <ul class="nav ms-auto">
                        <li class="nav-item" id="white-color">
                            <a class="nav-link" href="#" id="white-color">#</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>

        <main>
        {% block main %}
            
        {% endblock %}
        </main>

        <footer>
            <nav class="navbar justify-content-center border-top">
                <div class="container">
                    <ul class="nav mx-auto">
                        <li class="nav-item" id="white-color">
                            <a class="nav-link" href="#" id="white-color">Personal</a>
                        </li>
                        <li class="nav-item mx-auto" id="white-color">
                            <a class="nav-link" href="#" id="white-color">Home</a>
                        </li>
                        <li class="nav-item" id="white-color">
                            <a class="nav-link" href="#" id="white-color">FAQs</a>
                        </li>
                        <li class="nav-item" id="white-color">
                            <a class="nav-link" href="#" id="white-color">About</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </footer>
    </body>
</html>